* {
  box-sizing: border-box;
}


html {
  width: 100%
}

body {
  background: url(/Users/will/development/first-app/images/desert1white.jpg);
  width: 960px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3px 60px;
  font-family: 'Aclonica';
  font-size: 15px;
  position: absolute;
}
.characterSelection {
  padding: 85px 41px 31px;
  display: block;
  max-width: 305px;
  margin-left: -93px;
  margin-top: -12px;
}
h1 {
  margin-left: 409px;
}

.buttons {
  overflow: auto;
  display: inline-block;
  float: right;
}

.attack {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#yourHealth, #compHealth {
  position: relative;
  height: 30px;
  width: 250px;
  border: #e29050 3px solid;
  border-radius: 3px;
  margin-right: 20px;
  display: inline-block;
}

#yourHealthBar, #compHealthBar {
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: lightgreen;
}
.playerbars{
  margin: 0 auto;
  position: fixed;
  top: 89px;
  left: 450px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}
.attack:hover, .attack:focus {
  background-color: #3e8e41;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.dropdown a:hover {background-color: #f1f1f1}
.buttons a:hover {background-color: #f1f1f1}

.show {display:block;}
